<footer>
        <div class="container-fluid footer">
          <div class="row">
            <div class="col-md-4">
              <h4>Enlaces Rápidos</h4>
              <ul style="list-style-type: none;">
                <li><a href="{% url "index" %}" class="fot">Inicio</a></li>
                <li><a href="{% url "comics" %}" class="fot">Cómics</a></li>
                <li><a href="{% url "index" %}l" class="fot">Ofertas</a></li>
                <li><a href="{% url "contacto" %}" class="fot">Contacto</a></li>
                <li><a href="{% url "nosotros" %}" class="fot">Nosotros</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h4>Contacto</h4>

              <p>Email: super@tiendadecomics.com</p>
              <p>Teléfono: +1234567890</p>
            </div>
            <div class="col-md-4">
              <h4>Síguenos</h4>
              <ul style="list-style-type: none;">
                <li><a href="#" class="fot">@NOMBREDEPAGINA</a></li>
                <li><a href="#" class="fot">OTRA RED</a></li>
                <li><a href="#" class="fot">OTRA RED</a></li>
              </ul>
            </div>
          </div>
          <hr>
          <div class="text-center">
            <p>&copy; 2024 NOMBRE DE MI TIEMDA WAZAAAA. Todos los derechos reservados.</p>
          </div>
        </div>
      </footer>