{% load static %}
<header class="d-flex flex-column">
        <!-- Bloque 1 -->
        <div class="p-2 amarrilo bloque-pequeno"></div>

        <!-- Bloque 2 -->

        <div class="p-2 bloque-mediano">
          <div class="p-2 bloque-grande">
            <div class="row justify-content-center align-items-center">
              <!-- Logo -->
              <div class="col-3 text-center">
                <a href="{% url "index" %}">
                  <img id="logo" src="{% static 'img/logo_pagina.jfif' %} " alt="" />
                </a>
              </div>
              <!-- Barra de búsqueda -->
              <div class="col-3">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Buscar productos..." />
                  <button class="btn btn-outline bg-primary" type="button">
                    Buscar
                  </button>
                </div>
              </div>
              <!-- Botón de inicio de sesión -->
              <div class="col-2 text-center">
                <a href="{% url "sesion" %}"><button class="btn btn-secondary">Inicio session</button></a>
              </div>
              <!-- Carrito -->
              <div class="col-3 text-center d-flex align-items-center justify-content-center">
                <a href="" class="d-flex align-items-center" style="text-decoration: none; color: black"
                  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                  <img id="carrito" src="{% static 'img/carrito.png' %}" alt="" />
                  <h6 class="mb-0 ms-2">Mi carrito</h6>
                  <h6 class="mb-0 ms-2" style="color: darkblue">$0</h6>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Bloque 3 Barra de navegacion-->
        <div class="p-2 verde bloque-grande shadow-lg">
          <div class="p-2 bloque-grande">
            <!-- Barra de navegación -->
            <nav class="nav justify-content-center">
              <a class="nav-link active me-5 nav-custom" href="{% url "index" %}"><h4>Inicio</h4></a>
              <a class="nav-link me-5 nav-custom" href="{% url "comics" %}"><h4>Comics</h4></a>
              <a class="nav-link me-5 nav-custom" href="{% url "contacto" %}"><h4>Contacto</h4></a>
              <a class="nav-link me-5 nav-custom" href="{% url "nosotros" %}"><h4>Nosotros</h4></a>
            </nav>
          </div>
        </div>

        <button id="scrollToTopBtn" class="btn btn-floating"><img src="{% static 'img/superman.png'%}" alt="" style="height: 90px;  width: 40px;"></button>
</header>