
body {
  font-family: 'Arial', sans-serif;
}

header.jumbotron {
  background-size: cover;
  color: rgb(37, 32, 32);
  height: 40vh;
}

header .lead {
  font-size: 1.5rem;
}

section#menu .card {
  border: none;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control button {
  width: 30px;
  height: 30px;
}

footer {
  background-color: #343a40;
  color: white;
  padding: 1rem 0;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


