body {
  background-color: white;
}
.listaOp {
  background-color: rgba(128, 128, 128, 0.568);
  text-align: left;
  height: 500px;
  width: 150px;
  position: absolute;
}

.parrafo1 {
  background-color: blueviolet;
  float: right;
  margin-right: 14em;
}
.parrafo2 {
  background-color: aqua;
  float: right;
  margin-right: 14em;
}
.parrafo3 {
  background-color: brown;
  float: right;
  margin-right: 14em;
}
.parrafo4 {
  background-color: chartreuse;
  float: right;
  margin-right: 14em;
}
