<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>editComic</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  </head>
  <body>
    <main>

        <div class="container ">
            <div class="row mt-5 justify-content-center mx-auto">             
                
                <div>
                    <h1 class="mb-4 text-center mx-auto">Modificar Comic</h1>
                    <a href="{% url "crudComics" %}"><button class="btn btn-secondary mb-3">Volver</button></a>
                </div>
                <form method="post" action="{% url 'comic_edit' pk=comic.id_comic %}" enctype="multipart/form-data" class="col-8 mx-auto mt-3 text-center">
                    {% csrf_token %}
                    <div class="form-floating w-50 mx-auto mb-3 mt-3">
                        <input type="text" value="{{comic.editorial}}" class="form-control" id="editorial" name="editorial" placeholder="" required>
                        <label for="editorial">Editorial</label>
                    </div>
                    <div class="form-floating w-50 mx-auto mb-3 mt-3">
                        <input type="text" value="{{comic.titulo}}" class="form-control" id="titulo" name="titulo" placeholder="" required>
                        <label for="titulo">Título</label>
                    </div>
                    <div class="form-floating w-50 mx-auto mb-3 mt-3">                          
                        <input type="number" value="{{comic.precio}}" class="form-control" id="precio" name="precio" step="0.01" placeholder="" required>
                        <label for="precio">Precio</label>
                    </div>
                    <div class="form-floating w-50 mx-auto mb-3 mt-3">                        
                        <input type="text" value="{{comic.autor}}" class="form-control" id="autores" name="autores" placeholder="" required>
                        <label for="autores">Autor(es)</label>
                    </div>
                    <div class="form-floating w-50 mx-auto mb-3 mt-3">                      
                        <input type="text" value="{{comic.idioma}}" class="form-control" id="idioma" name="idioma" placeholder="" required>
                        <label for="idioma">Idioma</label>
                    </div>
                    <div class="form-floating w-50 mx-auto mb-3 mt-3">   
                        <textarea class="form-control" id="descripcion" name="descripcion" rows="3" placeholder="" required>{{comic.descripcion}}</textarea>
                        <label for="descripcion">Descripción</label>
                    </div>
                    <div class="form-floating w-50 mx-auto mb-3 mt-3">                       
                        <input type="text" class="form-control" value="{{comic.formato}}" id="formato" name="formato" placeholder="" required>
                        <label for="formato">Formato</label>
                    </div>
                    <div class="form-floating w-50 mx-auto mb-3 mt-3">
                        <input type="number" class="form-control" value="{{comic.disponible}}" id="disponibles" name="disponibles" placeholder="" required>
                        <label for="disponibles">Disponibles</label>
                    </div> 
                    <div class="form-floating w-50 mx-auto mb-3 mt-3">
                        <input type="text" class="form-control" value="{{comic.edi_original}}" id="editorial_original" name="editorial_original" placeholder="" required>
                        <label for="editorial_original">Editorial Original</label>
                    </div>
                    <div class="form-floating w-50 mx-auto mb-3 mt-3">
                        <input type="text" class="form-control" value="{{comic.isbn}}" id="isbn" name="isbn" placeholder="" required>
                        <label for="isbn">ISBN</label>
                    </div>
                    <div class="form-floating w-50 mx-auto mb-3 mt-3">
                        <input type="text" class="form-control" value="{{comic.ruta_img}}" id="ruta_imagen" name="ruta_imagen" placeholder="" required>
                        <label for="ruta_imagen">Ruta de Imagen</label>
                    </div>
                    
                    <button type="submit" class="btn btn-warning w-25 mb-5 mt-2">Modificar Comic</button>
                </form>        
            </div>
        </div>

    </main>

    <script src=" {% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
