body {
  background-color: rgb(217, 217, 217);
}
.bloque-pequeno {
  height: 30px; 
}
.bloque-mediano {
  height: 110px;
}
.bloque-grande {
  height: 75px; 
}
#logo {
  height: 80px;
  width: 230px;
}
#carrito {
  height: 35px;
  width: 35px;
}
.nav-custom {
  font-size: 1.2rem;
  color: #ffffff;
}
.nav-custom:hover {
  color: #13c0ff;
}
