<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comics</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <style>
      .img-hover-zoom {
        transition: transform 0.3s ease-in-out;
      }
      
      .img-hover-zoom:hover {
        transform: scale(1.05);
      }
    </style>
    {% include 'base/header.html' %}
    <main>
        
      <div class="container">
        <h1 class="text-center mt-4 mb-4"><strong>Nuestros Comics</strong></h1>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
          
          <!-- SE REPITE -->
          {% if comics %}
          {% for tmp in comics %}
          <div class="col"> <!-- Comic 1 -->
            <div class="p-3 bg-light border rounded">
              <a href="{% url 'verComic' pk=tmp.id_comic %}"><img src="{% static 'img/' %}{{ tmp.ruta_img }}" alt="" class="img-fluid m-2 mx-auto d-block img-hover-zoom" data-bs-toggle="modal"
                data-bs-target="#Modal_1" /></a>
              <p class="text-center">{{tmp.titulo}}</p>
              <p class="text-center precio">${{tmp.precio}}</p>
              <div class="quantity-controls text-center d-flex justify-content-center align-items-center">
                <button class="btn btn-outline-danger menos">-</button>
                <span class="num mx-2">1</span>
                <button class="btn btn-outline-success mas">+</button>
                <button class="btn btn-outline-success ml-2 m-2 btn-agregar" data-titulo="{{ tmp.titulo }}" data-precio="{{ tmp.precio }}">
                  Agregar
                </button>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}
          <!-- HASTA AQUI -->
         

    </main>
    {% include 'base/footer.html' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src=" {% static 'js/animacion.js' %}"></script>
    <script src=" {% static 'js/icono.js' %}"></script>    
    <script src=" {% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>