<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LatveriaStore</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    {% include 'base/header.html' %}

    <main>
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="{% url 'logout' %}"><button class="btn">Cerrar sesion</button></a>
                </div>
            </div>
        </div>
    </main>

    {% include 'base/footer.html' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src=" {% static 'js/animacion.js' %}"></script>
    <script src=" {% static 'js/icono.js' %}"></script>
    <script src=" {% static 'js/validar.js' %}"></script>
    <script src=" {% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
