html {
  scroll-behavior: smooth;
}
body {
  /* background-color: rgb(255, 255, 255); */
  background-color: rgb(255, 0, 0);
}
.amarrilo{
  background-color: orange;
}
.verde{
  background-color: rgb(13, 129, 13);
}
/* 1920x683 imagen carrusel */
.bloque-pequeno {
  height: 30px; 
}
.bloque-mediano {
  height: 170px;
}
.bloque-grande {
  height: 75px; 
}
#logo {
  height: 140px;
  width: 160px;
}
#carrito {
  height: 35px;
  width: 35px;
}
.nav-custom {
  font-size: 1.2rem;
  color: #f3f2f2;
}
.nav-custom:hover {
  color: #898989;
}

.precio {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

.quantity-controls {
  display: inline-block;
  margin-top: 10px;
}

.quantity-controls button {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 5px 10px;
  cursor: pointer;
}

.quantity-controls .num{
  margin: 0 10px;
  font-size: 18px;
}

footer {
  background-color: #ab1717; 
  color: white;              
  padding: 100px 50px;     
  text-align: center;     
  font-size: 16px;      
  margin-top: 100px;  
}

.offcanvas-lg {
  width: 600px;

}

.fot{
  text-decoration: none;
  color: white;
}
.fot:hover{
  color: #bdbdbd;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; 
  z-index: 999;
}




