body {
  background-color: rgb(255, 153, 0);
}
.navbar{
  margin-left: 5%; 
  margin-right: 5%
}
img {
  margin-right: 5%;
  margin-left: 5%;
  width: 100%;
  height: auto;
  max-width: 90%;
}
.nav-link{
  width: 150px;
  text-align: center;
}
.nav-link:hover{
  background-color: orange;
  border-radius: 8%;
}


.nav-link {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
}
.navbar-dark .navbar-nav .nav-link:hover{
  color: rgb(0, 0, 0);
}
.bg-light-custom{
  background-color: rgb(230, 230, 230);
}
.navbar-dark .navbar-nav .nav-link{
  color: orange;
}
.navbar-toggler{
  background-color: orange;
}
.dropdown:hover .dropdown-menu{
  display: block;
}

.img{

  display: inline-block;
  margin: 10px;
  width: 225px;
  height: 225px;
}
/*Comentario waa
osiosi
*/

