body {
  background-color: rgb(255, 153, 0);
}
.navbar{
  margin-left: 5%; 
  margin-right: 5%
}
.carro {
  margin-right: 5%;
  margin-left: 5%;
  width: 100%;
  height: auto;
  max-width: 90%;
}
.nav-link{
  width: 150px;
  text-align: center;
}
.nav-link:hover{
  background-color: orange;
  border-radius: 8%;
}
.nav-link {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
}
.navbar-dark .navbar-nav .nav-link:hover{
  color: rgb(0, 0, 0);
}
.bg-light-custom{
  background-color: rgb(230, 230, 230);
}
.navbar-dark .navbar-nav .nav-link{
  color: orange;
}
.navbar-toggler{
  background-color: orange;
}
.dropdown:hover .dropdown-menu{
  display: block;
}
.imgC {
  float: inline-start;
  width: 250px;
  padding: 30px 30px 30px 30px;
  background-color: aqua;

}
.imagenes {
  margin-left: 12%;
}

.galeria {
  display: grid;
  gap: 20px;
  justify-content: center;
  align-content: center;
  max-width: 90%;
  margin: 0 auto;
}

.item imgPerro {
  width: 40px;
  height: auto;
}

.item p {
  text-align: center;
  margin-top: 10px;
}


/*Comentario waa
osiosi
*/

